*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
    --violet: hsl(257, 40%, 49%);
--soft-magenta: hsl(300, 69%, 71%);
}

body{
    background: url('../images/bg-desktop.svg'),var(--violet);
    padding:1rem ;
    background-repeat: no-repeat;
    background-size: cover;
} 
.logo{
    width: 12rem;
}
main{
    margin-block: 4rem;
}
nav img, .card-image img{
    width: 100%;
    height: auto;
}
h1, p{
    text-align: center;
}
h1{
    color: white;
    font-size: 30px;
    margin-top: 2rem;
}
p{
    color: #fff;
    margin-block: 1rem;
    margin-top: 13px;
}
footer{
    margin-top: 5rem;
}
.text-center{
    text-align: center;
}
button {
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 7px 40px;
    text-align: center;
    width: 50%;
    margin-top: 13px;
    box-shadow:1px 2px 3px 1px rgb(62, 62, 62);
    color: var(--violet);
    transition: 1s ease-in-out;
}
button:hover {
    border-radius: 50px;
    border: 1px solid var(--soft-magenta); 
    color: #fff;
    background-color: var(--soft-magenta);
}
.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;

}
@media screen and (min-width: 480px) {
    main {
        display: grid;
        grid-template-columns:repeat(2, minmax(0, 1fr));
        gap: 5rem;       
         position: relative;
    }
    .text-center, p, h1 {
        text-align: left;
    }
    h1{
        font-size: 60px;
    }
    p{
        font-size: 24px;
    }
    .social-icon {
        justify-content: flex-start;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    body {
        padding:5rem ; 
    } 
    button {  
        padding: 9px 40px;
        text-align: center;
        width: 25%; 
        font-size: 16px;
    }
}